<%if @children.exists?%>		
<%@children.each do |child|%>	
	

		<div class="container" class="clearfix">
			<%= render partial: 'profile_index', :locals => {child: child}%>
			
	
		</div>			
	<%end%>

	<%else%>
		<div class="container" class="clearfix">
			<h3>Welcome to SproutHQ</h3>
			<h5>Get started by <%=link_to "creating your child's profile", new_child_path %></h5>
		</div>
	<%end%>