<%= render partial: '/cards/error', locals: {child: @child} %>

<div class = "border-form">
	<%= form_for @child do |profile| %>
	<%= render partial: 'profile', locals: {profile: profile} %> <br><br>
	
	

<% end %>

</div>