<body>
<div class="index-page-div">
	<h1>SproutHQ</h1>
	<p>Keep track of your child's essential stats!</p>
	<img align=center src=<%= asset_path('Sprout.jpg') %>>
	<h5><%=link_to "Sign up", new_user_registration_path%> | 
  <%=link_to "Sign in", user_session_path %> </h5>
</div>
</body>