<%if !current_user%>
	Please <a href="http://localhost:3000/users/sign_in"> sign in</a> to continue.
<%end%>


<%if current_user && current_user.many_kids %>
	<%current_user.children.each do |kid| %>
		<%kid.ages.each do |age|%>
			<%=kid.name%> <br>
				<%= form_for kid do |f| %>
      		 <%= f.collection_select :ages, kid.ages.all, :id, :year %>
    		<% end %>
		<%end%>
	<%end%>
<%end%>


