<section class="milestones">
	
	<div class = "stonehead"></div>

	<section class="stones">
		
		<%if @card.milestones.exists?%>
			<b>Here are some milestones <%=@child.name%> reached at this age : </b><br>
			<%@card.milestones.each do |milestone|%>
			<small><%=milestone.title%>&emsp;</small><br>
			<%end%>
		
		<%else%>
			<p> There are no milestones for this age. </p>
		<%end%>
		
	</section>



<form class = "stoneSubmit" accept-charset="UTF-8" action="/search" method="patch">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="q">Create a milestone for this age:</label>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Create Milestone" />
</form>
	
	

	

</section>
	
