	<%if !current_user%>
		<h5 align=center>Please <a href="http://localhost:3000/users/sign_in"> sign in </a> to continue.</h5>
	<%end%>
</div>


<%if current_user%>
	<%current_user.children.each do |child| %>
		<div class="single_column">
			<section class="name"><%=child.name%></section> 
			<%=link_to "Create a new card for #{child.name}", new_child_card_path(child)%><br><br>
			or <br><br>
			Select an age to edit: <br>	
			<%child.ordered.each do |card|%>
				<small><%=link_to short_age(card), edit_child_card_path(child.id, card.id)%> &emsp;</small> 
			 <% end %>
		
     </div>
    <%end%>
<%end%>



						