<div class="border-form">
	<%if !current_user%>
		Please <a href="http://localhost:3000/users/sign_in"> sign in</a> to continue.
	<%end%>

	<%if current_user%>
	<h2><%=link_to @child.name, child_path(@child)%></h2> 
	<sm><%=link_to "edit this profile", edit_child_path(@child)%></sm> <br>
	<%= render 'show_card', :locals => { :child => @child, :card => '@card'} %>

<%end%>
</div>