/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 
 */
 /* User sign in and sign forms. */

body#forms {
    	background-color: #1c8e11;
    }

body#homepage { background-color: #fff; }

h1 {
    font-size: 0;
}
h1:before {
    content: 'Sprout';
    color: #1c8e11;
    font-size: 32px;
}
h1:after {
    content: 'HQ';
    color: #00000;
    font-size: 32px;
}




.navbar{

  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;

  max-width: 300px;

}